<!DOCTYPE html>
<html>
	<head>
		<!-- PAGE TITLE -->
		<title>Chataing | Capriles en Chataign</title>
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../../../lib/framework/css/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/chataing.css">
		
		<!-- META TAGS -->
		<meta charset="utf-8">
		<meta name="author" content="Victor Acosta, Televen">
		<meta name="application-name" content="">
		<meta name="description" content="">
		<meta name="keywords" content="Capriles, Henrique, Presidencia, Opcion 2013,Televen, Televen 10.0, plataforma interactiva, #sincronizate, #sincronízate, sincronizados,sincronización, 10.0, plataforma, interactiva, second screen, interactive platform">
	</head>
	<body>
		<div id="TLVN100_wrapper" class="TLVN100_wrapper chataignCapriles">
			<div class="ballon red-left"><p>&iquest;Disfrutas del humor irreverente, chispeante, exponencialmente creativo?</p></div>
			<div class="ballon red-right"><p>&iquest;Disfrutas del humor irreverente, chispeante, exponencialmente creativo?</p></div>
			<div class="ballon blue-left"><p>&iquest;Disfrutas del humor irreverente, chispeante, exponencialmente creativo?</p></div>
			<div class="ballon blue-right"><p>&iquest;Disfrutas del humor irreverente, chispeante, exponencialmente creativo?</p></div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script src="js/chataing.js" type="text/javascript"></script>
	<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
	<script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-35915232-1']); _gaq.push(['_trackPageview']);</script>
</html>